In [872]:
# Initial Setup:
import pandas as pd
import numpy as np
import re
from datetime import datetime

url = 'https://www.sharkattackfile.net/spreadsheets/GSAF5.xls'
df = pd.read_excel(url)

In [873]:
# Preview of raw DataFrame:
print("head:")
print(df.head())

print("\ninfo:")
df.info()

print("\ndescribe:")
print(df.describe())

print("\ncolumns:")
print(df.columns.tolist())

head:
          Date    Year        Type    Country              State  \
0  15 Mar 2024  2024.0  Unprovoked  AUSTRALIA         Queensland
1  04 Mar 2024  2024.0  Unprovoked        USA             Hawaii
2  02 Mar-2024  2024.0  Unprovoked        USA             Hawaii
3  25 Feb-2024  2024.0  Unprovoked  AUSTRALIA  Western Australia
4  14 Feb-2024  2024.0  Unprovoked      INDIA        Maharashtra

                           Location  Activity                 Name Sex  Age  \
0                     Bargara Beach  Swimming       Brooklyn Sauer   F   13
1                Old Man's, Waikiki   Surfing        Matthew White   M  NaN
2                    Rainbows, Oahu  Swimming                  NaN   F   11
3        Sandlnd Island, Jurian Bay       NaN               female   F   46
4  Vaitarna River, Palghar District   Fishing  Vicky Suresh Govari   M   32

   ...        Species                      Source  pdf href formula href  \
0  ...     Tiger shark      Yahoo News, 3/15/2024  NaN          NaN  NaN
1  ...  Tiger shark 8'          Surfer, 3/6/2024F  NaN          NaN  NaN
2  ...  3' to 4' shark  Hawaii News Now, 3/4/2024  NaN          NaN  NaN
3  ...     Tiger shark        WA Today, 2/26/2024  NaN          NaN  NaN
4  ...  Bull shark, 7'  Times of India, 2/14/2024  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]

info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6969 entries, 0 to 6968
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            6944 non-null   object
 1   Year            6942 non-null   float64
 2   Type            6926 non-null   object
 3   Country         6894 non-null   object
 4   State           6462 non-null   object
 5   Location        6379 non-null   object
 6   Activity        6358 non-null   object
 7   Name            6724 non-null   object
 8   Sex             6365 non-null   object
 9   Age             3950 non-null   object
 10  Injury          6909 non-null   object
 11  Unnamed: 11     6382 non-null   object
 12  Time            3418 non-null   object
 13  Species         3812 non-null   object
 14  Source          6925 non-null   object
 15  pdf             6799 non-null   object
 16  href formula    6819 non-null   object
 17  href            6796 non-null   object
 18  Case Number     6798 non-null   object
 19  Case Number.1   6797 non-null   object
 20  original order  6799 non-null   float64
 21  Unnamed: 21     1 non-null      object
 22  Unnamed: 22     2 non-null      object
dtypes: float64(2), object(21)
memory usage: 1.2+ MB

describe:
              Year  original order
count  6942.000000     6799.000000
mean   1934.403342     3401.152081
std     272.920956     1963.076319
min       0.000000        2.000000
25%    1947.000000     1701.500000
50%    1985.000000     3401.000000
75%    2009.000000     5100.500000
max    2024.000000     6802.000000

columns:
['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity', 'Name', 'Sex', 'Age', 'Injury', 'Unnamed: 11', 'Time', 'Species ', 'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1', 'original order', 'Unnamed: 21', 'Unnamed: 22']

In [874]:
# DataFrame cleaning preparation:

# 1. Dropping unneeded columns and duplicates:
columns_to_drop = ["Source", "Location", "Injury", "Name", "pdf", "href formula",
                   "href", "Case Number", "Case Number.1", "original order",
                   "Unnamed: 21", "Unnamed: 22", "Species "]

df = df.drop(columns=columns_to_drop).drop_duplicates().reset_index(drop=True)

# 2. Filter rows with Year > 1800 and remove unneeded 'Types':
df = df[df["Year"] > 1800]

# 3. Types of shark attacks to exclude:
undesired_types = ["Questionable", "Boat", "Provoked", "Provoked ", "?",
                   "Unverified", "Under investigation", "Unconfirmed"]

df = df[~df["Type"].isin(undesired_types)]

# 4. Renaming and reformatting columns:
df.columns = [col.strip().replace(" ", "_").replace(".", "").lower() for col in df.columns]
df.rename(columns={'unnamed:_11': 'fatal'}, inplace=True)

# 5. Creating a copy of the original DataFrame for further manipulation
df_copy = df.copy()

# Check:
print(df.columns.tolist())

['date', 'year', 'type', 'country', 'state', 'activity', 'sex', 'age', 'fatal', 'time']

In [875]:
# Cleaning 'fatal' column:
value_map = {'n': 'n', 'y': 'y'}

df_copy['fatal'] = df_copy['fatal'].str.strip().str.lower().map(value_map)

# Calculate mode:
fatal_mode = df_copy['fatal'].mode()[0]

# Replace NaNs with 'n':
df_copy['fatal'] = df_copy['fatal'].fillna(fatal_mode)

# Check:
df_copy['fatal'].value_counts(dropna=False)

fatal
n    4740
y    1344
Name: count, dtype: int64

In [876]:
# Cleaning 'sex' column:
df_copy['sex'] = df_copy['sex'].str.strip().str.lower()

# Replace wrong values with 'unknown':
invalid_entries = ['lli', 'm x 2', 'n', '.']
for entry in invalid_entries:
    df_copy['sex'] = df_copy['sex'].replace(entry, 'unknown')

# Replace missing values with 'unknown':
df_copy['sex'].fillna('unknown')

# Check:
df_copy['sex'].value_counts(dropna=False)

sex
m          4856
f           729
NaN         495
unknown       4
Name: count, dtype: int64

In [877]:
#Cleaning 'type' column:

# Remove 'invalid' values:
df_copy = df_copy[df_copy['type'] != 'invalid']

# Replace 'NaN' with 'unknown':
df_copy['type'].fillna('unknown')

# Check:
df_copy['type'].value_counts(dropna=False)

type
Unprovoked      4937
Invalid          546
Watercraft       349
Sea Disaster     234
NaN               16
 Provoked          2
Name: count, dtype: int64

In [878]:


# 1. Convert 'time' column to strings (to avoid issues with NaN when splitting)
df_copy['time'] = df_copy['time'].astype(str)

# 2. Function to validate if time is in the correct "hhmm" format (e.g., "16h30")
def validate_time_format(time_str):
    # Regex pattern for valid time formats like "16h00", "01h50", etc.
    pattern = r'^\d{2}h\d{2}$'
    if re.match(pattern, time_str):
        return time_str
    else:
        return None  # Invalid format, will replace with mean later

# 3. Apply the validation function and keep only valid times
df_copy['time_numeric'] = df_copy['time'].apply(lambda x: x.replace('h', '') if validate_time_format(x) else None)

# 4. Convert the 'time_numeric' to numeric, replacing invalid parsing with None
df_copy['time_numeric'] = pd.to_numeric(df_copy['time_numeric'], errors='coerce')

# 5. Calculate the mean time, ignoring NaNs
mean_time = df_copy['time_numeric'].mean()

# 6. Fill NaN values (both invalid format and actual NaNs) with the calculated mean time
df_copy['time_numeric'].fillna(round(mean_time), inplace=True)

# 7. Convert all values in 'time_numeric' to integers
df_copy['time_numeric'] = df_copy['time_numeric'].astype(int)

# Output the updated dataframe
print(df)

                      date    year          type    country  \
0              15 Mar 2024  2024.0    Unprovoked  AUSTRALIA
1              04 Mar 2024  2024.0    Unprovoked        USA
2              02 Mar-2024  2024.0    Unprovoked        USA
3              25 Feb-2024  2024.0    Unprovoked  AUSTRALIA
4              14 Feb-2024  2024.0    Unprovoked      INDIA
...                    ...     ...           ...        ...
6737              Sep-1805  1805.0       Invalid        USA
6738  Reported 26-Feb-1804  1804.0    Watercraft  AUSTRALIA
6739           May-17-1803  1803.0  Sea Disaster        USA
6740              Mar-1803  1803.0    Unprovoked  AUSTRALIA
6741  Reported Apr-13-1802  1802.0    Unprovoked      INDIA

                  state  activity  sex  age fatal   time
0            Queensland  Swimming    F   13   NaN  16h00
1                Hawaii   Surfing    M  NaN     N    NaN
2                Hawaii  Swimming    F   11     N  13h30
3     Western Australia       NaN    F   46     N  11h30
4           Maharashtra   Fishing    M   32     N    NaN
...                 ...       ...  ...  ...   ...    ...
6737           New York       NaN    M  NaN   NaN    NaN
6738    New South Wales       NaN  NaN  NaN     N    NaN
6739     South Carolina       NaN    M  NaN     N    NaN
6740  Western Australia       NaN    M  NaN     N    NaN
6741                NaN       NaN  NaN  NaN     Y    NaN

[6084 rows x 10 columns]

C:\Users\olivi\AppData\Local\Temp\ipykernel_49776\1099541532.py:23: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['time_numeric'].fillna(round(mean_time), inplace=True)

In [879]:
# Cleaning 'age' column:

# Converting 'age' to numeric, setting errors to NaN:
df_copy['age'] = pd.to_numeric(df_copy['age'], errors='coerce')

# Calculating the mean age, excluding NaNs:
age_mean = df_copy['age'].mean()
print(f"Mean age: {age_mean}")

# Filling missing 'age' values with the calculated mean:
df_copy['age'].fillna(age_mean)

# Rounding 'age' values to nearest whole number:
df_copy['age'] = df_copy['age'].round(0)

# Check:
df_copy['age'].value_counts(dropna=False)

Mean age: 27.718184429761564

age
NaN     2603
17.0     167
18.0     146
15.0     142
16.0     140
        ...
72.0       1
86.0       1
84.0       1
87.0       1
81.0       1
Name: count, Length: 82, dtype: int64

In [880]:
# Subsequent overview of v0.5:
# Cell to be (re)moved or updated as we refine our analysis and finalize other KPIs.

print("head:")
print(df_copy.head())

print("\ninfo:")
df_copy.info()

print("\ndescribe:")
print(df_copy.describe())

print("\ncolumns:")
print(df_copy.columns.tolist())

print("\nmissing values:")
print(df_copy.isnull().sum()[df_copy.isnull().sum() > 0])

# Pending Cleaning Columns: 'date', 'year', 'activity', 'country', 'state'.
# Note on Geo Data: Considering merging 'country' and 'state' into 'location' to preserve data and enhance precision.

# Upcoming in v0.6:
# - Cleaning for 'date', 'year', 'type' and their integration.
# - Decision pending on creating a 'location' column and its integration.

# Uniform Commentary: Please keep documentation clear and accessible.

head:
          date    year        type    country              state  activity  \
0  15 Mar 2024  2024.0  Unprovoked  AUSTRALIA         Queensland  Swimming
1  04 Mar 2024  2024.0  Unprovoked        USA             Hawaii   Surfing
2  02 Mar-2024  2024.0  Unprovoked        USA             Hawaii  Swimming
3  25 Feb-2024  2024.0  Unprovoked  AUSTRALIA  Western Australia       NaN
4  14 Feb-2024  2024.0  Unprovoked      INDIA        Maharashtra   Fishing

  sex   age fatal   time  time_numeric
0   f  13.0     n  16h00          1600
1   m   NaN     n    nan          1320
2   f  11.0     n  13h30          1330
3   f  46.0     n  11h30          1130
4   m  32.0     n    nan          1320

info:
<class 'pandas.core.frame.DataFrame'>
Index: 6084 entries, 0 to 6741
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          6084 non-null   object
 1   year          6084 non-null   float64
 2   type          6068 non-null   object
 3   country       6047 non-null   object
 4   state         5686 non-null   object
 5   activity      5582 non-null   object
 6   sex           5589 non-null   object
 7   age           3481 non-null   float64
 8   fatal         6084 non-null   object
 9   time          6084 non-null   object
 10  time_numeric  6084 non-null   int32
dtypes: float64(2), int32(1), object(8)
memory usage: 546.6+ KB

describe:
              year          age  time_numeric
count  6084.000000  3481.000000   6084.000000
mean   1973.507232    27.718184   1319.817883
std      44.870256    14.461548    230.046651
min    1802.000000     1.000000     30.000000
25%    1950.000000    17.000000   1320.000000
50%    1988.000000    24.000000   1320.000000
75%    2009.000000    36.000000   1320.000000
max    2024.000000    87.000000   2330.000000

columns:
['date', 'year', 'type', 'country', 'state', 'activity', 'sex', 'age', 'fatal', 'time', 'time_numeric']

missing values:
type          16
country       37
state        398
activity     502
sex          495
age         2603
dtype: int64

In [882]:
def reformat_date_adjusted(date_str):
    # Ensure the input is a string; early return for empty or NaN-like strings
    date_str = str(date_str).strip()
    if not date_str or date_str.lower() == 'nan':
        return "invalid-date"
    # Normalize the date string
    date_str = re.sub(r'^Reported\s+', '', date_str, flags=re.IGNORECASE)
    date_str = re.sub(r'\s*-\s*|\s+', ' ', date_str)  # Convert '-' to ' ' and collapse multiple spaces
    # Try parsing the date with different formats
    try:
        # Detect format based on separators and content
        if re.search(r'\d{2}\s\w+\s\d{4}', date_str):  # DD MMM YYYY or DD MMMM YYYY
            for fmt in ("%d %b %Y", "%d %B %Y"):  # Try both abbreviated and full month name formats
                try:
                    parsed_date = datetime.strptime(date_str, fmt)
                    return parsed_date.strftime("%m-%Y")
                except ValueError:
                    pass  # If one format fails, try the next
        elif re.search(r'\w+\s\d{4}', date_str):  # MMM YYYY or MMMM YYYY
            for fmt in ("%b %Y", "%B %Y"):  # Try both abbreviated and full month name formats
                try:
                    parsed_date = datetime.strptime(date_str, fmt)
                    return parsed_date.strftime("%m-%Y")
                except ValueError:
                    pass
        elif re.match(r'\d{4}$', date_str):  # YYYY only
            return datetime.strptime(date_str, "%Y").strftime("%Y") + "-00"
    except Exception as e:
        print(f"Error processing date '{date_str}': {e}")
    return "Unknown"
# Application of the function:
df_copy['date'] = df_copy['date'].astype(str)
df_copy['date'] = df_copy['date'].apply(reformat_date_adjusted)
# Diagnostic check to review the transformation results
print(df_copy['date'].value_counts(dropna=False))

date
Unknown    193
06-2015     21
04-2017     21
08-2014     19
09-2017     19
          ...
10-1924      1
08-1923      1
07-1923      1
03-1923      1
03-1803      1
Name: count, Length: 1684, dtype: int64

In [883]:
# Seasonality function and new seasonality column

def get_seasonality(formatted_date):
    try:
        month = int(formatted_date.split('-')[0])
        if month in [12, 1, 2]:
            return "Winter"
        elif month in [3, 4, 5]:
            return "Spring"
        elif month in [6, 7, 8]:
            return "Summer"
        elif month in [9, 10, 11]:
            return "Autumn"
        else:
            return "Unknown"
    except:
        return "Unknown"

df_copy['seasonality'] = df_copy['date'].apply(get_seasonality)

In [884]:
# Seasonality stats
valid_seasons_df = df_copy[df_copy['seasonality'] != "Unknown"]
season_counts = valid_seasons_df['seasonality'].value_counts()
total_count = len(valid_seasons_df)
season_percentage = (season_counts / total_count) * 100
print(season_percentage)

seasonality
Summer    30.602837
Autumn    24.645390
Winter    23.226950
Spring    21.524823
Name: count, dtype: float64

In [885]:
# Replace 'NaN' with 'unknown':
df_copy['activity'].fillna('unknown', inplace=True)

C:\Users\olivi\AppData\Local\Temp\ipykernel_49776\997858611.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['activity'].fillna('unknown', inplace=True)

In [886]:
df_copy.head()

,date,year,type,country,state,activity,sex,age,fatal,time,time_numeric,seasonality
0,03-2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Swimming,f,13.0,n,16h00,1600,Spring
1,03-2024,2024.0,Unprovoked,USA,Hawaii,Surfing,m,NaN,n,nan,1320,Spring
2,03-2024,2024.0,Unprovoked,USA,Hawaii,Swimming,f,11.0,n,13h30,1330,Spring
3,02-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,unknown,f,46.0,n,11h30,1130,Winter
4,02-2024,2024.0,Unprovoked,INDIA,Maharashtra,Fishing,m,32.0,n,nan,1320,Winter

In [887]:
# Replace NaNs in the State column
df["state"].fillna("Unknown")

0              Queensland
1                  Hawaii
2                  Hawaii
3       Western Australia
4             Maharashtra
              ...
6737             New York
6738      New South Wales
6739       South Carolina
6740    Western Australia
6741              Unknown
Name: state, Length: 6084, dtype: object

In [888]:
# Join 'country' and 'state' into 'location' to preserve data and enhance precision.
location = df_copy['country'].astype(str) + ', ' + df_copy['state'].astype(str)
df_copy = df_copy.join(location.rename('location'))
df_copy

,date,year,type,country,state,activity,sex,age,fatal,time,time_numeric,seasonality,location
0,03-2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Swimming,f,13.0,n,16h00,1600,Spring,"AUSTRALIA, Queensland"
1,03-2024,2024.0,Unprovoked,USA,Hawaii,Surfing,m,NaN,n,nan,1320,Spring,"USA, Hawaii"
2,03-2024,2024.0,Unprovoked,USA,Hawaii,Swimming,f,11.0,n,13h30,1330,Spring,"USA, Hawaii"
3,02-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,unknown,f,46.0,n,11h30,1130,Winter,"AUSTRALIA, Western Australia"
4,02-2024,2024.0,Unprovoked,INDIA,Maharashtra,Fishing,m,32.0,n,nan,1320,Winter,"INDIA, Maharashtra"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6737,09-1805,1805.0,Invalid,USA,New York,unknown,m,NaN,n,nan,1320,Autumn,"USA, New York"
6738,02-1804,1804.0,Watercraft,AUSTRALIA,New South Wales,unknown,NaN,NaN,n,nan,1320,Winter,"AUSTRALIA, New South Wales"
6739,Unknown,1803.0,Sea Disaster,USA,South Carolina,unknown,m,NaN,n,nan,1320,Unknown,"USA, South Carolina"
6740,03-1803,1803.0,Unprovoked,AUSTRALIA,Western Australia,unknown,m,NaN,n,nan,1320,Spring,"AUSTRALIA, Western Australia"
6741,Unknown,1802.0,Unprovoked,INDIA,NaN,unknown,NaN,NaN,y,nan,1320,Unknown,"INDIA, nan"

In [890]:
df_copy.head(50)

,date,year,type,country,state,activity,sex,age,fatal,time,time_numeric,seasonality,location
0,03-2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Swimming,f,13.0,n,16h00,1600,Spring,"AUSTRALIA, Queensland"
1,03-2024,2024.0,Unprovoked,USA,Hawaii,Surfing,m,NaN,n,nan,1320,Spring,"USA, Hawaii"
2,03-2024,2024.0,Unprovoked,USA,Hawaii,Swimming,f,11.0,n,13h30,1330,Spring,"USA, Hawaii"
3,02-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,unknown,f,46.0,n,11h30,1130,Winter,"AUSTRALIA, Western Australia"
4,02-2024,2024.0,Unprovoked,INDIA,Maharashtra,Fishing,m,32.0,n,nan,1320,Winter,"INDIA, Maharashtra"
5,02-2024,2024.0,Provoked,TRINIDAD,NaN,Spearfishing,m,NaN,n,06h30,630,Winter,"TRINIDAD, nan"
6,01-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,f,29.0,n,20h00,2000,Winter,"AUSTRALIA, New South Wales"
7,01-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Swimming,m,10.0,n,16h00,1600,Winter,"BAHAMAS, Paradise Island"
8,01-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,Surfing,m,64.0,n,13h00,1300,Winter,"AUSTRALIA, South Australia"
10,12-2023,2023.0,Unprovoked,USA,Hawaii,Surfing,m,39.0,y,11h12,1112,Winter,"USA, Hawaii"
11,12-2023,2023.0,Unprovoked,MEXICO,Sonora,Free diving,m,22.0,y,13h00,1300,Winter,"MEXICO, Sonora"
12,12-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Surfing,m,15.0,y,13h30,1330,Winter,"AUSTRALIA, South Australia"
13,12-2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,m,16.0,n,16h30,1630,Winter,"AUSTRALIA, New South Wales"
14,12-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Foil Boarding,m,46.0,n,15h00,1500,Winter,"AUSTRALIA, Western Australia"
15,12-2023,2023.0,Unprovoked,NEW ZEALAND,South Island,Wading,f,21.0,n,02h00,200,Winter,"NEW ZEALAND, South Island"
18,12-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Snorkeling,m,20.0,n,16h32,1632,Winter,"AUSTRALIA, Queensland"
19,12-2023,2023.0,Unprovoked,BAHAMAS,New Providence Isoad,Paddle boarding,f,44.0,y,11h00,1100,Winter,"BAHAMAS, New Providence Isoad"
20,12-2023,2023.0,Unprovoked,MEXICO,Jalisco,Swimming,f,26.0,y,Morning,1320,Winter,"MEXICO, Jalisco"
21,11-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Swimming,m,21.0,n,11h30,1130,Autumn,"AUSTRALIA, Queensland"
22,11-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Scuba diving,f,47.0,y,10h30,1030,Autumn,"BAHAMAS, Grand Bahama Island"
23,11-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Free diving,f,32.0,n,13h20,1320,Autumn,"AUSTRALIA, South Australia"
24,11-2023,2023.0,Unprovoked,USA,Florida,Swimming,m,66.0,n,10h30,1030,Autumn,"USA, Florida"
25,11-2023,2023.0,Unprovoked,AUSTRALIA,Westerm Australia,Spearfishing,m,NaN,n,14h00,1400,Autumn,"AUSTRALIA, Westerm Australia"
26,11-2023,2023.0,Unprovoked,NEW ZEALAND,North Island,Free diving,m,NaN,n,09h00,900,Autumn,"NEW ZEALAND, North Island"
28,10-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Surfing,m,55.0,y,10h20,1020,Autumn,"AUSTRALIA, South Australia"
29,10-2023,2023.0,Unprovoked,USA,Hawaii,Surfing,m,30.0,n,15h05,1505,Autumn,"USA, Hawaii"
31,10-2023,2023.0,Watercraft,AUSTRALIA,Western Australia,Fishing,m,NaN,n,17h00,1700,Autumn,"AUSTRALIA, Western Australia"
32,10-2023,2023.0,Unprovoked,BELIZE,Belize District,Snorkeling,f,8.0,n,nan,1320,Autumn,"BELIZE, Belize District"
33,10-2023,2023.0,Unprovoked,USA,Hawaii,Surfing,m,50.0,n,16h00,1600,Autumn,"USA, Hawaii"
34,10-2023,2023.0,Unprovoked,USA,California,Surfing,m,52.0,n,15h45,1545,Autumn,"USA, California"
35,10-2023,2023.0,Unprovoked,USA,Hawaii,Surfing,f,45.0,n,13h00,1300,Autumn,"USA, Hawaii"
36,10-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Swimming,f,64.0,n,07h45,745,Autumn,"AUSTRALIA, South Australia"
37,10-2023,2023.0,Unprovoked,USA,California,Swimming,m,52.0,y,10h40,1040,Autumn,"USA, California"
38,09-2023,2023.0,Unprovoked,USA,South Carolina,Swimming,m,NaN,n,16h00,1600,Autumn,"USA, South Carolina"
39,09-2023,2023.0,Unprovoked,EGYPT,South Sinai,Swimming,f,34.0,n,nan,1320,Autumn,"EGYPT, South Sinai"
41,09-2023,2023.0,Unprovoked,USA,Florida,Surfing,m,NaN,n,nan,1320,Autumn,"USA, Florida"
42,09-2023,2023.0,Unprovoked,PHILIPPINES,Bolinao,Fishing,m,NaN,n,nan,1320,Autumn,"PHILIPPINES, Bolinao"
43,09-2023,2023.0,Watercraft,Coral Sea,NaN,On a round-the-world expedition,m,NaN,n,01h00,100,Autumn,"Coral Sea, nan"
44,09-2023,2023.0,Unprovoked,USA,Florida,Surfing,m,NaN,n,nan,1320,Autumn,"USA, Florida"
45,09-2023,2023.0,Unprovoked,USA,Florida,Wading,f,37.0,n,nan,1320,Autumn,"USA, Florida"
46,08-2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,m,44.0,n,10h00,1000,Summer,"AUSTRALIA, New South Wales"
47,08-2023,2023.0,Unprovoked,USA,North Carolina,Wading,NaN,9.0,n,09h00,900,Summer,"USA, North Carolina"
48,08-2023,2023.0,Watercraft,USA,California,Kayak fishing,m,19.0,n,13h00,1300,Summer,"USA, California"
50,08-2023,2023.0,Unprovoked,SPAIN,Valencia,Wading,m,35.0,n,Afternoon,1320,Summer,"SPAIN, Valencia"
52,08-2023,2023.0,Unprovoked,SAMOA,Savai'i island,Towing a dead whale out to sea,m,NaN,y,Evening,1320,Summer,"SAMOA, Savai'i island"
53,08-2023,2023.0,Unprovoked,USA,New York,Wading,f,65.0,n,17h50,1750,Summer,"USA, New York"
54,07-2023,2023.0,Unprovoked,USA,Florida,Surfing,m,22.0,n,09h30,930,Summer,"USA, Florida"
55,07-2023,2023.0,Unprovoked,USA,Florida,Spearfishing,m,22.0,n,15h30,1530,Summer,"USA, Florida"
56,07-2023,2023.0,Unprovoked,USA,Florida,Swimming,f,26.0,n,20h00,2000,Summer,"USA, Florida"
57,07-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Surfing,m,NaN,n,08h45,845,Summer,"AUSTRALIA, Western Australia"